body{
              background-color: darkslategray;

}
h1,h2{
              text-shadow: 7px 3px 4px #000;
              color: #00ffff;
}
table{
              border: 3px solid;
              color: blue;
              
}
ul{
              color: cadetblue;
}
ol{
              color: black;
}
tr{
              color: green;

}
li{
              color: aquamarine;
}
button{
              color: rgb(0, 0, 0);
              text-shadow: 2px 3px 4px #000;
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              font-size: 15px;
              border-radius: 10px 10px 10px #000;
}